pre {
    display: none;
    background-color: #e9ecef !important;
    margin-top: 1em;
    padding: 5px;
}

#wrapper {
    margin-top: 66px;
}

.card-subtitle {
    margin-top: 0.5em;
}

.card-block {
    text-align: center;
}

.carousel-item {
    text-align: center;
}

.card-deck .card {
    margin-top: 10px;
}

h1 {
    margin-top: 1em;
    text-align: center;
}

h2 {
    margin-top: 1em;
    text-align: center;
}

h3 {
    margin-top: 1em;
    text-align: center;
}

h4 {
    margin-top: 1em;
    text-align: center;
}

h5 {
    margin-top: 1em;
    text-align: center;
}

h6 {
    margin-top: 1em;
    text-align: center;
}

.ledger-tooltip {
    color: #e83e8c;
    word-break: break-word;
}

a:not([href]):not([tabindex]) {
    color: #2FA4E7;
}

.card-title table {
    text-align: left;
}

.card-title td {
  padding-right: 1em
}

.card-title {
	padding: 10px;
}

.card-img-top{
	width: 90% !important;
}

a {
	cursor: pointer;
}
