pre {
    display: none;
    background-color: #e9ecef !important;
    margin-top: 1em;
    padding: 5px;
}

#wrapper {
    margin-top: 66px;
}

.card-subtitle {
    margin-top: 0.5em;
}

.card-block {
    text-align: center;
}

.carousel-item {
    text-align: center;
}

.card-deck .card {
    margin-top: 10px;
}

h1 {
    margin-top: 1em;
    text-align: center;
}

h2 {
    margin-top: 1em;
    text-align: center;
}

h3 {
    margin-top: 1em;
    text-align: center;
}

h4 {
    margin-top: 1em;
    text-align: center;
}

h5 {
    margin-top: 1em;
    text-align: center;
}

h6 {
    margin-top: 1em;
    text-align: center;
}
